@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    background: pink;
    margin: 0;
    justify-content: center;
    font-family: "Playwrite GB S", serif;
    overflow: auto;
}
h1{
    font-family: "DynaPuff", system-ui;
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    position: relative;
    bottom: 20%;
    display: block;
    text-decoration: underline;
}
#skills{
    bottom: 25%;
}
.container{
    min-width: 200px;
    display: inline-flex;
    flex-direction: column;
    width: 500px;
    max-width: 500px;
    padding: 10px;
    background: white;
    border-radius:10%;
    border: 30px double pink;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 650px) {
    body{
        overflow: scroll;
        width: 100%;
        height: 100vh;
    }
    .container {
        max-width: 100%;
        height: 550px; 
    }
    .strawberry{
        width: 80px;
        height: 80px;
    }
    p{
        padding-top: 0;
    }
    .container2{
        max-width: 100%;
        height: 500px;
    }
}
.strawberry{
    display: inline;
    position: relative;
    bottom:12%;
    right: 15%;
    width: 120px;
    height: 120px;
}
.watermelon{
    display: inline;
    position: relative;
    bottom:15%;
    left: 85%;
    width: 120px;
    height: 120px;
}
p{
    position: relative;
    bottom: 20%;
    padding-top: 20px;
    display: block;
    color: black;
    text-align: left;
    font-style: italic;
}
.container2{
    min-width: 200px;
    width: 500px;
    max-width: 500px;
    padding: 10px;
    background: white;
    border-radius:10%;
    border: 30px inset rgb(251, 251, 100);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.body2{
    padding: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    background: rgb(251, 251, 162);
    margin: 0;
    justify-content: center;
    font-family: "Playwrite GB S", serif;
    overflow: auto;
}
.rainbow{
    display: inline;
    position: relative;
    bottom:12%;
    right: 15%;
    width: 120px;
    height: 120px;
}
.gridcontainer{
    position: relative;
    bottom: 20%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,100px);
    gap:20px;
    width: 100%;
    justify-content: center;
}
.lines{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px ;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
@media (max-width: 768px) {
    .gridcontainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,100px);
        gap:10px;
    }
    .lines img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .gridcontainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap:10px;
        
    }
    .rainbow{
        width: 90px;
        height: auto;
        right:30%;
    }
    .lines{
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
    }
    .strawberry,.watermelon{
        width: 80px;
        height: 80px;
    }
    body{
        font-size: 15px;
        line-height: 1.5rem;
    }
    .watermelon{
        bottom:20%;
    }
    .strawberry{
        right:20%;
    }
}